body {
  background-color: black;
}
.resizeGameOver {
  height : 600px;
  margin : auto;
}

.over {
  font-family: 'Press Start 2P', cursive;
  font-size: 80px;
  text-align: center;
  color: red;
}


  

  