body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	font-family: 'Creepster', cursive;
}

.main-title {
	font-size : 120px;
	color:#01f902;
}

#time {
	color:#01f902;
	font-size:40px;
}

.resize {
	height : 250px;
	margin : auto;
}

.themeBtn {
	background: #a73d00;
	color: #ffffff !important;
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	height: 50px;
	width: 180px;
	line-height: 0.8;
	padding: 18px 30px;
	text-transform: capitalize;
	border-radius: 1px;
	letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;
	border-radius:100px;

}

.themeBtn1 {
	background: #ff5c00;
	color: #ffffff !important;
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	height: 50px;
	width: 180px;
	line-height: 0.8;
	padding: 18px 30px;
	text-transform: capitalize;
	border: 0px !important;
	border-radius: 1px;
	letter-spacing: 0.5px;
	cursor:pointer;
	border-radius:100px;
}

button:focus {
	outline:0;
}


/* life-bar */

#container-info {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0px;
	width: 800px;
	border-radius: 8px;
	}
	
	.progress-box{
		margin: 10px;
		text-align: center;
		color: #01F902;
	}
	
	/* .progress-bar {
	width: 100%;
	} */

	.txt-life {
	color: #DC3545!important;
	}
	
	.bg-warning {
	background-color: #01F902 !important;
	}

	.progress {
		width: 300px;
	}

	.text-green {
		color:#01f902;
	}
	
	.text-orange {
		color: #ff5c00;
	}
	
	.modal-content {
		top: 200px;
		border-radius: 25px;
	}
	
	.modal {
		border-radius: 25px;
	}

	.score {
		text-align: left;
	}

	.score-title {
		color: black;
		font-size: 2rem;
	}